/* ------- PAGES STYLE ------- */
	.transitPage{
		display: none;
		position: absolute;

		/* SAFARI, CHROME */
			-webkit-transform: translate3d(0, 0, 0);
			-webkit-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
		/* FIREFOX */
			transform: translate3d(0, 0, 0);
			timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
	}
	.activePage{
		display: block;
	}
	#cacheBlock{
		background-color: transparent;
	}

/* ------------------- CSS ANIMATIONS ----------------- */
	/* ----------- SAFARI, CHROME --------- */
		/* IN */
			@-webkit-keyframes pageInFromRight{
				from {left:100%;}
				to {left:0%;}
			}
			@-webkit-keyframes pageInFromLeft{
				from {left:-100%;}
				to {left:0%;}
			}
			@-webkit-keyframes pageInFromTop{
				from {top:-100%;}
				to {top:0%;}
			}
			@-webkit-keyframes pageInFromBottom{
				from {top:100%;}
				to {top:0%;}
			}

		/* OUT */
			@-webkit-keyframes pageOutToRight{
				from {left:0%;}
				to {left:100%;}
			}
			@-webkit-keyframes pageOutToLeft{
				from {left:0%;}
				to {left:-100%;}
			}
			@-webkit-keyframes pageOutToTop{
				from {top:0%;}
				to {top:-100%;}
			}
			@-webkit-keyframes pageOutToBottom{
				from {top:0%;}
				to {top:100%;}
			}

	/* ----------- FIREFOX --------- */
		/* IN */
			@keyframes pageInFromRight{
				from {left:100%;}
				to {left:0%;}
			}
			@keyframes pageInFromLeft{
				from {left:-100%;}
				to {left:0%;}
			}
			@keyframes pageInFromTop{
				from {top:-100%;}
				to {top:0%;}
			}
			@keyframes pageInFromBottom{
				from {top:100%;}
				to {top:0%;}
			}

		/* OUT */
			@keyframes pageOutToRight{
				from {left:0%;}
				to {left:100%;}
			}
			@keyframes pageOutToLeft{
				from {left:0%;}
				to {left:-100%;}
			}
			@keyframes pageOutToTop{
				from {top:0%;}
				to {top:-100%;}
			}
			@keyframes pageOutToBottom{
				from {top:0%;}
				to {top:100%;}
			}